body{
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieFinder{
    margin: 40px 0 20px 0;
}
.inputBtn{
    display: flex;  
    justify-content: center;
    margin-bottom: 10px;
    margin: 0 20px 0 20px;
}
.film{
    margin: 20px;
}
#movieTitle{
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 10px;
}
#btn{
    margin-left: 55px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    padding: 0 10px 0 10px;

}
.cataloge{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    height: 500px;
    width: 337px;
    border-radius: 20px;
}
.title{
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.runTime{
    display: flex;
    justify-content: center;
}
.year{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

